#caroselItem{
  max-width:255px;
    height:auto;
    background-color: red;
}
#navbar-nav2{
    padding-left:400px;
}
#navbar-nav2  .navitem2 :hover{
    background-color:yellow;
    color:black;

}
