

.rot{
    transition:transform .5s ease;
} 
.rot:hover{
    transform:rotate(360deg);
} 
#my-nav{
    
}
.navitem2 :hover{
    color:orange;
    transform:scale(1.1);
    border-bottom-color:orange ;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.navitem2 a{
    color:#fff;
    text-decoration: none;
}
.cartcount{
    height:15px;
    width:15px;  
    border-radius: 450%;
    background-color: rgb(250, 14, 14);
    color:#fff;
    display:inline-block;
    margin-left:-4px;
    padding-top: -40px;
    font-size:10px;
}