

.cartcount :hover{ 
    background-color:rgba(0,128,0, 0.9) ;
    color:#fff;

}

.rot{
    transition:transform .5s ease;
} 
.rot :hover{
    transform:rotate(360deg);
} 
#my-nav{
    margin-left:25%;
}
.navitem2 :hover{
    color:#0F9A;
    transform:scale(1.1);

}
navitem2{
    transition:transform .5s ease;
}

.navitem2 a{
    color:#fff;
    text-decoration: none;
}